@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body {
    display: block;
    width: 50%;
    margin: auto;
    max-width: 70ch;
    min-width: 60ch;
}

div {
    margin: 6em 0;
}

h1, h2 {
    text-align: center;
    font-family: Playfair, serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.4em;
    margin-bottom: 10px;
}

h2 {
    color: #4691cb;
    font-size: 14px;
    margin: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 35px;
    border: none;
    height: 0.5px;
    background-color: lightgrey;
    flex-shrink: 0;
    width: 100%;
}

p, ol {
    line-height: 1.5;
}

#list-prompt {
    padding: 0;
}

ol li {
    margin-bottom: 9px;
}

img {
    display: block;
    max-height: 75px;
    width: auto;
    margin: auto;
    margin-top: 40px;
}